body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(158, 172, 134);
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/nigeria-image.jpeg");
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  color: white;
  text-align: center;
}
header a {
  background-color: white;
  padding: 16px 32px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  margin-top: 20px;
  max-width: fit-content;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.image {
  width: 600px;
}
.second-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
.card-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}
.instagram-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/image-footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 80px;
  color: white;
}
footer h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
footer li {
  list-style: none;
  line-height: 1.9;
}
footer a {
  color: white;
}
footer ul {
  padding: 0;
}
@media (max-width: 800px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 20px;
  }
  header {
    padding: 60px 0;
  }
  footer {
    padding: 60px 40px;
  }
  .image {
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-top: 20px;
  }
  .second-hero {
    display: block;
  }
  .paragraph {
    margin: 20px 0;
    padding: 40px;
  }
  .card-group,
  .instagram-media {
    display: block;
    margin: 0;
    padding: 40px;
  }
}
